<div class="modal-header">
    <h3 class="modal-title">Expense creation</h3>
</div>
<div class="modal-body">
    <form name="newExpenseForm" id="new-expense-form">
        <fieldset id="date" ng-class="{'has-error': newExpenseForm.date.$invalid && newExpenseForm.date.$dirty}">
            <div id="dateInputGroup" class="input-group" ng-keydown="processKey($event)">
                <input id="dateInput" name="date" type="text" tabindex="0" class="form-control" ng-model="newExpense.date" firstTab
                        required pattern="(\d{2})/(\d{2})/(\d{4})" maxlength="10"/>
                <span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
            </div>
            <div class="validationMsg">
                <label ng-show="newExpenseForm.date.$dirty && newExpenseForm.date.$error.required" class="control-label" for="dateInput">Please specify a date</label>
                <label ng-show="newExpenseForm.date.$dirty && (newExpenseForm.date.$error.date || newExpenseForm.date.$error.pattern)" class="control-label" for="dateInput">
                    Date must use 'dd/mm/yyyy' format
                </label>
            </div>
        </fieldset>
        <fieldset id="amount" class="has-error">
            <div id="amountInputGroup" class="input-group">
                <input id="amountInput" tabindex="0" type="text" class="form-control" placeholder="Amount" ng-model="newExpense.amount"/>
				<span class="input-group-addon">
					<i class="fa fa-eur"></i>
				</span>
            </div>
            <div class="validationMsg">
                <label class="control-label" for="amountInput">Amount validation message</label>
            </div>
        </fieldset>
        <fieldset class="fieldset-border">
            <legend class="fieldset-border">Source</legend>
            <div class="radio radio-primary">
                <input tabindex="0" ng-model="newExpense.source" id="debitcard" type="radio" name="source" value="DEBIT_CARD" checked>
                <label for="debitcard">
                    Debit card
                </label>
            </div>
            <div class="radio radio-primary">
                <input tabindex="0" ng-model="newExpense.source" id="creditcard" type="radio" name="source" value="CREDIT_CARD">
                <label for="creditcard">
                    Credit card
                </label>
            </div>
        </fieldset>
        <div id="description">
            <textarea placeholder="Description (optional)" class="form-control" ng-model="newExpense.description"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer" ng-keydown=processKey($event)>
    <button tabindex="0" class="btn btn-success" ng-click="ok()">Save</button>
    <button tabindex="0" class="btn btn-warning" ng-click="cancel()" lastTab>Cancel</button>
</div>


<script>
    $(document).ready(function() {
        $('#description > textarea').autosize();
    });

    $('#dateInput').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        clearBtn: true,
        language: "en-GB",
        autoclose: true
    });
</script>