<div class="modal-header">
    <h3 class="modal-title">I'm a modal (HTML template)!</h3>
</div>
<div class="modal-body">
    <div id="new-expense-form">
        <div id="date">
            <p class="input-group" ng-keydown="processKey($event)">
                <input tabindex="0" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="calOpened" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Date" firstTab/>
             	<span class="input-group-btn">
                <button tabindex="0" type="button" class="btn btn-default" ng-click="openCal($event)">
                	<i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
        </div>
		<div id="amount">
			<div class="form-group input-group">
				<input tabindex="0" type="text" class="form-control" placeholder="Amount" ng-model="amount"/>
				<span class="input-group-addon">
					<i class="fa fa-eur"></i> 
				</span> 
			</div>
		</div>
        <fieldset class="fieldset-border">
            <legend class="fieldset-border">Source</legend>
            <div class="radio radio-primary">
                <input tabindex="0" id="debitcard" type="radio" name="source" value="DEBIT_CARD" checked>
                <label for="debitcard">
                    Debit card
                </label>
            </div>
            <div class="radio radio-primary">
                <input tabindex="0" id="creditcard" type="radio" name="source" value="CREDIT_CARD">
                <label for="creditcard">
                    Credit card
                </label>
            </div>
        </fieldset>
		<div id="description">
			<textarea placeholder="Description" class="form-control" ng-model="description"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer" ng-keydown=processKey($event)>
    <button tabindex="0" class="btn btn-success" ng-click="ok()">Save</button>
    <button tabindex="0" class="btn btn-warning" ng-click="cancel()" lastTab>Cancel</button>
</div>


<script>
	$(document).ready(function() {
		$('#description > textarea').autosize();
	});
</script>