<div>
    <form name="tagForm">
        <fieldset class="fieldset-border">
            <legend class="fieldset-border">New tag</legend>
            <div class="row">
                <div class="col-md-2">
                    <label>Foreground color</label>
                    <div id="foreground-color-group" class="foreground-color form-group input-group col-md-8">
                    <span class="input-group-addon" title="Tag text color">
                        <span class="glyphicon glyphicon-text-color"></span>
                    </span>
                        <input type="color" name="foreground-color" class="form-control" title="Click to pick a color"
                               ng-model="newTag.foregroundCol" required>
                    </div>
                    <label>Background color</label>
                    <div id="background-color-group" class="background-color form-group input-group col-md-8">
                    <span class="input-group-addon" title="Tag background color">
                        <span class="glyphicon glyphicon-text-background"></span>
                    </span>
                        <input type="color" name="background-color" class="form-control"
                               title="Click to pick a color" ng-model="newTag.backgroundCol" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Tag name (max: 50 characters)</label>
                        <input id="tagName" type="text" placeholder="Type in the tag's name" name="tagName"
                               class="form-control" ng-model="newTag.name" required maxlength="50">
                    </div>
                    <label>Tag preview</label>
                    <ul class="tags">
                        <li>
                            <a href="#" style="background-color: {{newTag.backgroundCol}}; border-right-color: {{newTag.backgroundCol}}; opacity: {{tagPreviewOpacity}}; color: {{newTag.foregroundCol}}">
                                <span class="tag-label" title="Facture Essent">Facture Essent</span>
                            <span class="tag-remover glyphicon glyphicon-remove-circle" tabindex="0"
                                  title="Click to remove tag"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row footer-row">
                <button id="tag-reset-btn" type="button" class="btn btn-warning" title="Click to restart tag creation from scratch" ng-click="reset()">Reset</button>
                <button type="button" class="btn btn-success" title="Click to save your new tag">Create tag</button>
            </div>
        </fieldset>
    </form>
</div>