<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#" ng-click="sideMenuController.toggle($event, 'expenses')">
                <i class="fa fa-files-o fa-fw"></i>
                Expenses
                <span class="fa arrow"></span>
            </a>
            <ul id="expenses" class="nav nav-second-level"
                ng-class="{'collapse': sideMenuController.viewStates.expenses === 'collapsed'}">
                <li>
                    <a href="#expense/details">Details</a>
                </li>
                <li>
                    <a href="#" ng-click="sideMenuController.toggle($event, 'availableTags')">
                        <i class="fa fa-tags"></i>
                        Available tags
                        <span class="fa arrow"></span>
                    </a>
                    <ul id="availableTags" class="tags nav nav-third-level"
                        ng-class="{'collapse': sideMenuController.viewStates.availableTags === 'collapsed'}">
                        <li ng-repeat="tag in $root.existingTags" ng-drag="true" ng-drag-data="tag"
                            ng-center-anchor="false">
                            <a class="tag-menu-item" title="{{tag.name}}"
                               style="background-color: {{tag.backgroundColor}}; border-right-color: {{tag.backgroundColor}}; color: {{tag.foregroundColor}}">
                                <span class="tag-label">{{tag.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" ng-click="sideMenuController.toggle($event, 'tags')">
                <i class="fa fa-tags"></i>
                Tags
                <span class="fa arrow"></span>
            </a>
            <ul id="tags" class="nav nav-second-level"
                ng-class="{'collapse': sideMenuController.viewStates.tags === 'collapsed'}">
                <li>
                    <a href="#tag/management" title="Open tags management interface">
                        Management
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-gear fa-fw"></i>
                Settings
            </a>
        </li>
        <li>
            <a href="#" ng-click="sideMenuController.logout()">
                <i class="fa fa-sign-out fa-fw"></i>
                Logout
            </a>
        </li>
    </ul>
</div>