<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#">
                <i class="fa fa-files-o fa-fw"></i>
                Expenses
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="#expense/details">Details</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-tags">Available tags</i>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-third-level collapse " ng-repeat="tag in $root.existingTags">
                        <li>
                            <a href="#" tag-id="{{tag.id}}">{{tag.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tags"></i>
                Tags
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="#tag/management" title="Open tags management interface">Management</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-gear fa-fw"></i>
                Settings
            </a>
        </li>
        <li>
            <a href="#" ng-click="logout()">
                <i class="fa fa-sign-out fa-fw"></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<script>
    // to enable menu transition effect
    $('#side-menu').metisMenu();
</script>