<div class="row">
    <div class="col-sm-12">
        <div class="dataTables_info pagination-control">Showing {{getPageFirstItem()}} to {{getPageLastItem()}} of {{totalNumberOfExpense}} entries</div>
    </div>
    <div class="col-sm-12">
        <div id="table-control">
            <button type="button" class="btn btn-primary" title="Add an expense" ng-click="openNewExpenseModal()">
                <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" class="btn btn-warning" title="Edit selected expense"
                    ng-click="editSelectedExpense()" ng-disabled="disableEditButton()">
                <i class="fa  fa-pencil-square-o"></i>
            </button>
            <button type="button" class="btn btn-danger" title="Delete selected expense(s)"
                    ng-click="deleteSelected()" ng-disabled="disableDeleteButton()">
                <i class="fa fa-trash-o"></i>
            </button>
            <button type="button" class="btn btn-success" title="Mark selected expense (and all before it) as validated">
                <i class="fa fa-check-circle"></i>
            </button>
        </div>
        <div id="pagination-control" class="pagination-control">
            <nav>
                <ul class="pager">
                    <li><a href="#" class="page-btn" title="Go to previous page" ng-click="goToNextPage($event, -1)">&lt;&lt;</a></li>
                    <li>
                        <input id="selected-page" title="Current page index" type="text" maxlength="3" ng-model="page" ng-model-options="{getterSetter: true}">
                        <span title="Total number of page">/{{totalNumberOfPage}}</span>
                    </li>
                    <li><a href="#" class="page-btn" title="Go to next page" ng-click="goToNextPage($event, 1)">&gt;&gt;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>