#table-container {
	margin-left: -30px;
	border-color: red;
}

#expense-table {
	overflow-x: hidden;
}

/* Expense table header */
.col-position {
	width: 30px;
	text-align: center;
}

.col-date {
	width: 80px;
	text-align: center;
}

.col-amount {
	width: 100px;
	text-align: left;
}

.col-description {
	margin-left: 210px;
}

/* Table interaction elements */
#table-control {
	float: left;	
}

/* Pagination elements */
.pagination-control {
	float: right;
}

#pagination-control > ul {
	margin: 0;
}

/* New expense modal */
.modal-backdrop {
    bottom: 0px;
}

#date {
	width: 25%;
	float: left;
	margin-right: 20px;
}

#amount {
	width: 52%;
}

#description > textarea {
	resize: none;
}

/* Tags */
.tag {
    border: solid;
    border-width: 1px;
    border-color: red;
    float: right;
    padding: 3px;
    border-radius: 3px
}

/* Fieldset */
fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 0 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    border-radius: 4px;
}

legend.fieldset-border {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0px !important;
    font-size: 15px !important;
    color: #999 !important;
}
