#full-logo {
	/* Getting the logo horizontally centered  */
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	/* Resizing the logo */
	width: 45%;
}

body {
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

/* Overrides value from SB Admin */
.login-panel {
	margin-top: 10%;
}

/* Flip animation for login/registration panel */
#flippable-container {
	transform-style: preserve-3d;
	transition: all 0.75s linear;
}

.flipped {
	transform: rotateY(180deg);
}

.flippable {
	backface-visibility: hidden;
}

#panel-front {
	transform: rotateY(0deg);
}

#panel-back {
	transform: rotateY(180deg);
}