#full-logo {
	/* Getting the logo horizontally centered  */
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	/* Resizing the logo */
	width: 45%;
}

body {
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

/* Overrides value from SB Admin */
.login-panel {
	margin-top: 10%;
}

/* Flip animation for login/registration panel */
#flippable-container {
	transform-style: preserve-3d;
	transition: all 0.75s linear;
}

.flipped {
	transform: rotateY(180deg);
}

.flippable  {
	backface-visibility: hidden;
	/* 
		Absolute positioning to get both front and back panel overlapping at
		the same location
	 */
	position: absolute;
	/*
		With absolute position, panel width set by bootstrap is broken...
	*/
	width: 100%;
}

#panel-front {
	/* 
		Setting a 0° rotation to define the front panel initial face. Without this workaround, 
		even when the panel's flipped, the back face is still displayed
	*/
	transform: rotateY(0deg);
}

#panel-back {
	transform: rotateY(180deg);
}