<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to Nxpense</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Nxpense CSS -->
    <link href="css/custom/welcome.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div ng-app="loginApp">
        <div class="row shadow" ng-controller="welcomeController">
        	<div>
  				<img id="full-logo" alt="Nxpense welcome page logo" src="images/nxpense-full-logo.png">
			</div>        
			<div id="flippable-container" class="col-md-4 col-md-offset-4" ng-class="{'flipped': visiblePanel !== 'login'}">
            	<!-- login panel -->
             <!--    <div id="panel-front" class="login-panel panel panel-default flippable" ng-class="{'flipped': visiblePanel !== 'login'}"> -->
                <div id="panel-front" class="login-panel panel panel-default flippable">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form>
                    </div>
                   	<div class="panel-footer">
                   		<a ng-click="goToRegistration()">
                   			Not yet registered? Create an account
                   		</a>                   	
                   	</div>
                </div>
                <!-- registration panel -->
                <!-- <div id="panel-back" class="login-panel panel panel-default flippable" ng-class="{'flipped': visiblePanel !== 'registration'}"> -->
                <div id="panel-back" class="login-panel panel panel-default flippable">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please register</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="registrationForm" ng-controller="registrationController">
                            <fieldset>                            	
                                <div class="form-group registration-form-group" ng-class="{'has-error': registrationForm.email.$invalid && registrationForm.email.$dirty}">
                                	<label ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty" class="control-label" for="registrationEmail">Email is a mandatory field</label>
                                	<label ng-show="registrationForm.email.$error.email && registrationForm.email.$dirty" class="control-label" for="registrationEmail">Provided email has an invalid format</label>
                                	<label ng-show="registrationForm.email.$error.emailTaken && registrationForm.email.$dirty" class="control-label" for="registrationEmail">This email is already taken</label>
                                    <input id="registrationEmail" class="form-control" placeholder="E-mail" name="email" type="email" required autofocus ng-model="email">
                                </div>
                                <div class="form-group registration-form-group" ng-class="{'has-error': registrationForm.password.$invalid && registrationForm.password.$dirty}">
                                	<label ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty" class="control-label" for="registrationPassword">Password is a mandatory field</label>
                                	<label ng-show="registrationForm.password.$error.pattern && registrationForm.password.$dirty" class="control-label" for="registrationPassword">Password must have: 1 lowercase letter, 1 uppercase letter, 1 digit and at least 6 characters</label>
                                    <input id="registrationPassword" class="form-control" placeholder="Password" name="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" ng-model="password">
                                </div>
								<div class="form-group registration-form-group" ng-class="{'has-error': registrationForm.passwordRepeat.$invalid && registrationForm.passwordRepeat.$dirty}">
									<label ng-show="registrationForm.passwordRepeat.$error.confirmationCheck && registrationForm.passwordRepeat.$dirty" class="control-label" for="registrationPasswordRepeat">Passwords don't match</label>
									<input id="registrationPasswordRepeat" class="form-control" placeholder="Repeat password" name="passwordRepeat" type="password" required ng-model="passwordRepeat">
								</div>
								<a class="btn btn-lg btn-success btn-block" ng-click="createAccount()" ng-if="registrationForm.$valid">Create new account</a>								
                                <a class="btn btn-lg btn-success btn-block" disabled ng-if="!registrationForm.$valid">Create new account</a>
                            </fieldset>
                        </form>
                    </div>
                   	<div class="panel-footer">
                   		<a ng-click="goToLogin()">
                   			Already registered? Log in
                   		</a>                   	
                   	</div>
                </div>    
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>
    <!-- Angular -->
    <script src="js/angular.js"></script>
    <!-- Angular welcome module -->    
    <script src="js/modules/loginApp.js"></script>
</body>
</html>
